/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    background: #34495E;
}
/* Link Styles */

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #fff;
}

.shadow {
    color: #000;
    text-shadow: 0px 2px 3px rgba(103, 122, 141, 0.85);
    display: inline-flex;
}

h3 {
    text-align: left;
}


/* --------------------- */
/*  HEADER
/* --------------------- */

.top-nav {
    width: 100%;
    min-height: 60px;
    padding: 10px;
    position: absolute;
}

.nav {
    float: right;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    list-style-type: none;
    margin-right: 10%;
}


.nav li {
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
}

.nav a {
  transition: all .2s;
}

.nav a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

header {
    text-align: center;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7)), url(img/header-bkgrd.jpg);
    background-size: cover;
    overflow: hidden;
    padding-top: 10px;
}

.profile-image {
    float: left;
    position: inherit;
    margin-left: 220px;
    margin-top: 10px;
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 5px solid #dcdde1;
    transition: all .2s;
}



/* --------------------- */
/*  EXPERIENCE
/* --------------------- */

  .flex {
    display: flex; 
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-around;
    margin: 30px auto;
    margin-top: 30px;
    text-align: center;
  }

.box {
    margin: 60px;
    margin-top: 20px;
    padding: 20px 40px 40px 30px;
    width: 1140px;
    background-image: url(img/seigaiha.png);
    background-size: cover;
    border-radius: 6px;
    border-width: 10px;
    display: inline-block;
}

.education,
.professional,
.technical {
    width: 380px;
    padding: 10px;
    text-align: center;
}


.education-ul li,
.prof-ul li,
.tech-ul li {
    list-style: none;
    text-align: left;
}

.portfolio {
    height: 250px;
    width: auto;
    float: right;
    margin-right: 220px;
    margin-top: -550px;
    vertical-align: middle;
}

/* --------------------- */
/*  FOOTER
/* --------------------- */

footer {
    width: 100%;
    min-height: 30px;
    padding-bottom: 40px;
}

footer .copyright {
    top: -8px;
    font-size: .75em
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}
a.twitter {
    background-image: url(img/twitter.svg);
}
a.linkedin {
    background-image: url(img/linkedin.svg);
}
a.github {
    background-image: url(img/github.svg);
}
a.social:hover {
    opacity: 1;
}
.clearfix {
    clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  

  footer {
    padding-right: 30px;
    color: #efefef;
    font-size: 1em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

